._ban_button {
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0.2;
}
._ban_button:active {
  background: #f0c0c0;
}
._ban_button:hover {
  opacity: 1;
}
._banned {
  opacity: 0.5;
}
